/*------------
 common utilities 
------------------*/
.specific-heading-color{
    color: #E76F51;
}
/*------------ 
header section 
----------------*/
.bg-header{
    background-color: #264653;
    color: #FFFFFF;
}
.purchase-btn{
    padding: 10px 46px;
    border: none;
    background-color:#E76F51;
    color: #FFFFFF;
    border-radius: 5px;
}
/* main section */
/*----------------
 featured bikes
 ----------------- */
.grayscale{
    filter: grayscale(100%);
}
/*---------- 
client review
-------------- */
.filled{
    color:#E77C40;
    padding-right: 5px;
}
.empty{
    color: #E77C40;
}
/* Subscribe */
.subscribe-style{
    background-color: rgb(225, 221, 230);
}